.border-test {
  border: 1px solid red;
}

.App {
  height: 100vh;
  position:relative;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copyright {
  padding: 0.25% 0;
  color: #fff;
}
  