.border-test {
  border: 1px solid red;
}

body {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  position: relative;
}

footer {
  position: absolute;
  bottom: -5%;
  width: 100%;
}

.copyright {
  padding: 0.25% 0;
  color: #fff;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}